extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .container-fluid
        .row.page-margin
            nav.archive.top.col-md-12
                .row
                    .col-xs-12.col-sm-10.col-md-10.col-lg-11.select-cat
                        if self.data.categories
                            - categories = self.data.categories.filter(c => c.featured_on_front_page)
                                if categories.length
                                    each category in categories
                                        a(onclick=`toggleCat(${category.remote_id});`)
                                            .active= category[`name_${self.locale}`]
                                                span(id=category.remote_id).icon-checkmark
                                        //- a(href="program/2020/12/623,3810,3811,3812,3814,5027")
                                        //-     .active
                                        //-         | Tants
                                        //-         span.icon-checkmark
                                        //- a(href="program/2020/12/623,3809,3811,3812,3814,5027")
                                        //-     .active
                                        //-         | Performance
                                        //-         span.icon-checkmark
                                        //- a(href="program/2020/12/623,3809,3810,3812,3814,5027")
                                        //-     .active
                                        //-         | Teater
                                        //-         span.icon-checkmark
                                        //- a(href="program/2020/12/623,3809,3810,3811,3814,5027")
                                        //-     .active
                                        //-         | Muusika
                                        //-         span.icon-checkmark
                                        //- a(href="program/2020/12/623,3809,3810,3811,3812,5027")
                                        //-     .active
                                        //-         | Video
                                        //-         span.icon-checkmark
                                        //- a(href="program/2020/12/623,3809,3810,3811,3812,3814")
                                        //-     .active
                                        //-         | Näitus
                                        //-         span.icon-checkmark
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ul.pager
                            li.previous
                                a(id='previous-month' onclick="toggleMonth('-');" style='display: none;')
                                    span ←
                            li.next
                                a(id='next-month' onclick="toggleMonth('+');" style='display: none;')
                                    span →
            .col-md-12

                .programme.row
                    .col-xs-12.col-md-12.col-lg-12
                        h2(id='year-month')
                        h2(id='lang' lang-is=(self.locale === 'et' ? 'et-EE' : 'en-US') style='display: none;')
                    - var currentDate = new Date()
                    - var pastTwoDays = new Date()
                    //- - var nextThreeDays = new Date()

                    - pastTwoDays.setDate(pastTwoDays.getDate() - 2)
                    //- - nextThreeDays.setDate(nextThreeDays.getDate() + 3)
                    //- - console.log(currentDate, ' - ', pastTwoDays, ' - ', nextThreeDays)

                    - var events = self.data.events.filter(e => e.type && e.type === 'program')
                    //- .filter(e => new Date(e.start_time) > pastTwoDays)
                    //- each performance in
                    //- - console.log(events.map(a => a.start_time))

                    if events && events.length
                        each event in events
                            - var eventDate = new Date(event.start_time)
                            div(id=event.remote_id type-name="event" start-time=`${event.start_time}` premiere-time= event.performance_X_premiere_time ? event.performance_X_premiere_time : '' performance-categories=event.peformance_categories style='display: none;')
                                .col-xs-12.col-sm-2.col-lg-2
                                    p
                                        +dayName(event.start_time)
                                    p
                                        +dateFull(event.start_time)
                                    //- Whole day event if 23:59
                                    if `${eventDate.getHours()}:${eventDate.getMinutes()}` !=='23:59'
                                        p
                                            +hoursMinutes(event.start_time)
                                    if event.canceled
                                        p.today JÄÄB ÄRA!

                                    //- Premiere
                                    if event.premiere
                                        p.today ESIETENDUS!

                                    //- if `${eventDate.getMonth()}.${eventDate.getDate()}` === `${currentDate.getMonth()}.${currentDate.getDate()}`
                                    p.today(id=`today-${event.remote_id}` style='display: none;') TÄNA!

                                .col-xs-12.col-md-6.col-lg-6
                                    h3
                                        if event.performance_remote_id
                                            a(href=`/${lang_path}performance/${event.performance_remote_id}`)
                                                if event[`performance_X_headline_${self.locale}`]
                                                    span.subtitle= event[`performance_X_headline_${self.locale}`]

                                                if event.performance_X_artist
                                                    span.artist= event.performance_X_artist

                                                if event.performance_X_producer
                                                    span.producer= event.performance_X_producer

                                                if event.performance_X_town
                                                    span.town= event.performance_X_town

                                                span.name= event[`performance_name_${self.locale}`]

                                                if event[`performance_subtitle_${self.locale}`]
                                                    span.subtitle= event[`performance_subtitle_${self.locale}`]
                                        else
                                            //- a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, lang + '-name')
                                            a(href='/' + lang_path + '/event/' + event.remote_id)= event[`name_${self.locale}`]
                                                if event[`X_headline_${self.locale}`]
                                                    span.subtitle= event[`X_headline_${self.locale}`]

                                                if event.X_artist
                                                    span.artist= event.X_artist

                                                if event.X_producer
                                                    span.producer= event.X_producer

                                                if event.X_town
                                                    span.town= event.X_town

                                                span.name= event[`name_${self.locale}`]

                                                if event[`subtitle_${self.locale}`]
                                                    span.subtitle= event[`subtitle_${self.locale}`]

                                .col-xs-6.col-md-2.col-lg-2
                                    if event.location || event[`X_location_${self.locale}`]
                                        p= event.location || event[`X_location_${self.locale}`]

                                    //- if op.get(p, ['saal-location', lang + '-name'])
                                    //-     p.location= op.get(p, ['saal-location', lang + '-name'])

                                    if event.X_ticket_info
                                        if !event.X_ticket_info.price
                                            p= self.labels.ticket.buy_t_free_admission
                                        else
                                            p= event.X_ticket_info.price

                                        if event.X_ticket_info.min_price
                                            //- if event.X_ticket_info.min_price == op.get(p, 'max-price')
                                            //-     p= event.X_ticket_info.min_price + '€'
                                            //- else
                                            //-     p= event.X_ticket_info.min_price + '/' + op.get(p, 'max-price') + '€'

                                        if event.X_ticket_info.onsite_price
                                            p= self.labels.title.onsite_price + ': ' + event.X_ticket_info.onsite_price + '€'
                                //-  && new Date(event.start_time) > new Date()
                                if event.X_ticket_info
                                    .col-xs-6.col-md-2.col-lg-2.text-right
                                        if event.canceled === 'true'
                                            a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time class="disabled" style='display: none;')= 'canceled'
                                        else
                                            if  event.X_ticket_info.sales_status && (event.X_ticket_info.sales_status === 'sold_out' || event.X_ticket_info.sales_status) === "free_admission"
                                                a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time style='display: none;' class="free disabled" href='' target='_blank')= self.labels.ticket[`buy_t_${event.X_ticket_info.sales_status}`]
                                            else
                                                a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time style='display: none;' class="" href=event.X_ticket_info[`pl_link_${self.locale}`] target='_blank')= self.labels.ticket[`buy_t_${event.X_ticket_info.sales_status}`] || self.labels.ticket.buy_ticket

                                .col-xs-12.col-md-12.col-lg-12
                                    hr

                        script.
                            toggleEventButtons()

            nav.archive.bottom.col-md-12
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ul.pager
                            li.previous
                                a(id='previous-month2' onclick="toggleMonth('-');" style='display: none;')
                                    span ←
                            li.next
                                a(id='next-month2' onclick="toggleMonth('+');" style='display: none;')
                                    span →
