extends /_templates/layout.pug

block content
    .container-fluid
        .row.page-margin
            section.col-md-12
                .programme.row
                    .col-xs-12.col-md-12
                        h2 Magasin
                    .grid-row
                        if self.data.articles
                            each article in self.data.articles
                                a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href= `/${lang_path}${article.path}`)
                                    if article.X_pictures && article.X_pictures.photoMedium
                                        img.img-responsive(src=`${f_api}${article.X_pictures.photoMedium.split(',')[0]}`)
                                    else
                                        img.img-responsive(src=`/assets/images/placeholder.jpg`)

                                    p= article.publish_date_string
                                    p
                                        span.artist= article[`title_${self.locale}`]

                                        if article[`subtitle_${self.locale}`]
                                            span.artist= ` / ${article[`subtitle_${self.locale}`]}`
                                    span.author= article.authors_cs


                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6902")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21661")
                        //-     p 04.12.2020
                        //-     p
                        //-         span.artist RESKRIPTI REEDE: KUNSTNIKU KÜMME!
                        //-     span.author RESKRIPT
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6899")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21656")
                        //-     p 01.12.2020
                        //-     p
                        //-         span.artist Eestikeelne ja tekstimeelne lavastus
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6884")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21641")
                        //-     p 27.11.2020
                        //-     p
                        //-         span.artist Esimene laine
                        //-     span.author 10 x 10 meters
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6854")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21550")
                        //-     p 10.11.2020
                        //-     p
                        //-         span.artist RESKRITPI REEDE: OSALEMISE TAGAMAADEST
                        //-         span.artist  / Maarin Mürk, Henri Hütt
                        //-     span.author RESKRIPT
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6804")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21266")
                        //-     p 03.11.2020
                        //-     p
                        //-         span.artist Unenäod pärast eˉlektroni lavastust Romeo & Julia #5
                        //-         span.artist  / Alateadlik arvustus
                        //-     span.author Eva Labotkin
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6772")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21249")
                        //-     p 29.10.2020
                        //-     p
                        //-         span.artist Kollektiivne kunst nimega...
                        //-     span.author Lilli-Krõõt Repnau
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6735")
                        //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                        //-     p 15.10.2020
                        //-     p
                        //-         span.artist Platvormi loomine
                        //-     span.author 10 x 10 meters
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6626")
                        //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                        //-     p 04.09.2020
                        //-     p
                        //-         span.artist Eriolukord teatrisaalis Baltoscandal 2020
                        //-     span.author Epp Kubu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6501")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-16515")
                        //-     p 20.05.2020
                        //-     p
                        //-         span.artist The realness of the Internet, Post-Internet practices and sexuality
                        //-     span.author Keity Pook
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6496")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-16496")
                        //-     p 11.05.2020
                        //-     p
                        //-         span.artist miss the point (pre-statement)
                        //-     span.author Liisbeth Horn
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6487")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-13932")
                        //-     p 19.04.2020
                        //-     p
                        //-         span.artist Riders on the storm (an open rehearsal space)
                        //-         span.artist  / (hetkel sisendid eesti, inglise ja vene keeles)
                        //-     span.author
                        //-         | Alissa Šnaider, Madlen Hirtentreu, Renzo van Steenbergen, Olga Tsvetkova, Katrin Essenson, Perrine en Morceaux
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6481")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-13888")
                        //-     p 17.04.2020
                        //-     p
                        //-         span.artist Intervjuu, mis ei jõudnud kunagi avalikkuseni...
                        //-     span.author Anonüümne küsija
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6472")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-13855")
                        //-     p 13.04.2020
                        //-     p
                        //-         span.artist Pseudoteaduslik kunstnikuego-uurimus: I etapp
                        //-     span.author Heneliis Notton
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6428")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-13847")
                        //-     p 31.03.2020
                        //-     p
                        //-         span.artist Maailm kuhugi ei kao
                        //-     span.author Keithy Kuuspu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6413")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-13758")
                        //-     p 24.03.2020
                        //-     p
                        //-         span.artist Üks on üksinda
                        //-     span.author Anumai Raska
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6411")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-13753")
                        //-     p 20.03.2020
                        //-     p
                        //-         span.artist Conspiracy in empty theatre
                        //-     span.author Masinakägistajad / Machine-Stranglers
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6386")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-13625")
                        //-     p 07.03.2020
                        //-     p
                        //-         span.artist Teesklen või mitte
                        //-     span.author Anneli Rebane
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6358")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7948")
                        //-     p 17.02.2020
                        //-     p
                        //-         span.artist On Strike!
                        //-     span.author Tencu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6353")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7938")
                        //-     p 10.02.2020
                        //-     p
                        //-         span.artist Kangro koreografeeritud sõnateater
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6323")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7929")
                        //-     p 05.02.2020
                        //-     p
                        //-         span.artist Communicatine 3mg
                        //-     span.author Tom Brennecke
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6265")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7834")
                        //-     p 07.01.2020
                        //-     p
                        //-         span.artist TASAKAALUSTAMATA RATSIONAALSUS
                        //-     span.author Mikk-Mait Kivi
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6228")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7778")
                        //-     p 02.12.2019
                        //-     p
                        //-         span.artist Stsenaarium: SELLE RAHA EEST SAIME SELLISE ASJA?!
                        //-     span.author RESKRIPT
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6226")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7747")
                        //-     p 26.11.2019
                        //-     p
                        //-         span.artist Perfokasaalis
                        //-     span.author Superjux Limited
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6212")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7742")
                        //-     p 14.11.2019
                        //-     p
                        //-         span.artist erakiri Henrile ja Maarinile
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6147")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7674")
                        //-     p 10.10.2019
                        //-     p
                        //-         span.artist "Ei ühtegi sõna"
                        //-     span.author Kaspar Aus
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6144")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7646")
                        //-     p 01.10.2019
                        //-     p
                        //-         span.artist KIRI, lavastusest “IKAARIA MÄNGUD”
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6132")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7623")
                        //-     p 19.09.2019
                        //-     p
                        //-         span.artist Visuaalne essee “Tammi tagant tuleb tühjuse laine”
                        //-     span.author Epp Kubu, Maarja Kalmre, Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6102")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7563")
                        //-     p 11.09.2019
                        //-     p
                        //-         span.artist Artikkel, mis oli puudu
                        //-     span.author Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6065")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7544")
                        //-     p 12.08.2019
                        //-     p
                        //-         span.artist Kuuldemäng “Hiiumaa TantsuFestival 10”
                        //-     span.author Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/6048")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7536")
                        //-     p 17.07.2019
                        //-     p
                        //-         span.artist
                        //-             | Okasroosikese stuudiomaja võõrandamisest ainest saanud (miks mitte ka NO99) heietus veel ühest kadunud kultuuritemplist Toompeal
                        //-     span.author Juhan Soomets
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5989")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7354")
                        //-     p 03.06.2019
                        //-     p
                        //-         span.artist Kehast ja poliitikast
                        //-     span.author Märten Rattasepp
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5987")
                        //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                        //-     p 29.05.2019
                        //-     p
                        //-         span.artist Spring Festival Utrechtis
                        //-     span.author Kaisa Kattai, Keithy Kuuspu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5955")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7306")
                        //-     p 17.05.2019
                        //-     p
                        //-         span.artist Instagramreality
                        //-     span.author Üüve-Lydia Toompere
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5911")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7216")
                        //-     p 29.04.2019
                        //-     p
                        //-         span.artist Armastuskiri: Super sensuaalne & personaalne monument
                        //-     span.author Maarja Tõnisson
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5890")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7180")
                        //-     p 14.04.2019
                        //-     p
                        //-         span.artist Kui oled kolm päeva vait olnud hakkab nägu muutuma
                        //-     span.author Katrin Essenson
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5847")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7125")
                        //-     p 06.04.2019
                        //-     p
                        //-         span.artist Iha piirides
                        //-     span.author Keithy Kuuspu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5838")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7105")
                        //-     p 27.03.2019
                        //-     p
                        //-         span.artist Autorlusest tantsukunstis - praktika toel
                        //-     span.author Elise Laius
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5816")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7084")
                        //-     p 05.03.2019
                        //-     p
                        //-         span.artist Nüüdistants taevasse ei pääse
                        //-     span.author Helle Mari Toomel
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5804")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7073")
                        //-     p 28.02.2019
                        //-     p
                        //-         span.artist Valgus ookeanide vahel
                        //-     span.author Taavi Suisalu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5799")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7056")
                        //-     p 23.02.2019
                        //-     p
                        //-         span.artist Generatsioonide või Mina probleem Musta Kasti näitel
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5781")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7022")
                        //-     p 17.02.2019
                        //-     p
                        //-         span.artist love.exe
                        //-     span.author Tom Brennecke
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5779")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7018")
                        //-     p 11.02.2019
                        //-     p
                        //-         span.artist Tõest ja surmast. Lähtudes Sigrid Savi lavastusest "Pushing Daisies"
                        //-     span.author Mihkel Maripuu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5765")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7000")
                        //-     p 03.02.2019
                        //-     p
                        //-         span.artist A rehearsal on paper in three voices or What do I cry for ?
                        //-     span.author Alissa , Grete , Karl
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5722")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6921")
                        //-     p 31.12.2018
                        //-     p
                        //-         span.artist it’s time to celebrate
                        //-     span.author Üüve-Lydia Toompere
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5705")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6891")
                        //-     p 06.12.2018
                        //-     p
                        //-         span.artist Lühike lugu armunud Lõvist.
                        //-     span.author Angela Maasalu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5688")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6740")
                        //-     p 14.11.2018
                        //-     p
                        //-         span.artist
                        //-             | What Would Happen If We Would Start To Take Digital Culture More Seriously (from the perspective of the artist)
                        //-     span.author Üüve-Lydia Toompere
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5687")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6721")
                        //-     p 11.11.2018
                        //-     p
                        //-         span.artist Märkmed Ruslan Stepanovi etenduselt
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5667")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6699")
                        //-     p 06.11.2018
                        //-     p
                        //-         span.artist ≥∞≈+ ehk lavastuse nimetamise valemid
                        //-     span.author Kaisa Kattai
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5629")
                        //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                        //-     p 14.10.2018
                        //-     p
                        //-         span.artist Pooleli jäänud mõtteid uueks hooajaks!
                        //-     span.author Jaan Sein
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5588")
                        //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                        //-     p 24.09.2018
                        //-     p
                        //-         span.artist still life
                        //-     span.author wondering o
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5425")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6137")
                        //-     p 25.06.2018
                        //-     p
                        //-         span.artist Magasini uus peamine toimetaja vastab vana küsimustele
                        //-     span.author Henri Hütt, Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5350")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6019")
                        //-     p 28.03.2018
                        //-     p
                        //-         span.artist Kellele on kasulik, et sa kardad?
                        //-     span.author Hanna Selgis
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5335")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-5937")
                        //-     p 19.03.2018
                        //-     p
                        //-         span.artist Workshop: võimatu missioon
                        //-     span.author Enrico Mäsak
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5333")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-5933")
                        //-     p 15.03.2018
                        //-     p
                        //-         span.artist MADE IN ESTONIA MARATON – sõna ja vormi harmoonia
                        //-     span.author Marta Vunš
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5307")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-5678")
                        //-     p 15.02.2018
                        //-     p
                        //-         span.artist Searching for presence III
                        //-     span.author Henri Hütt, Maarja Kalmre, Epp Kubu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5306")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-5674")
                        //-     p 14.02.2018
                        //-     p
                        //-         span.artist Searching for presence II
                        //-     span.author Henri Hütt, Maarja Kalmre, Epp Kubu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5303")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-5665")
                        //-     p 12.02.2018
                        //-     p
                        //-         span.artist Searching for presence I
                        //-     span.author Henri Hütt, Maarja Kalmre, Epp Kubu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5215")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-4931")
                        //-     p 05.01.2018
                        //-     p
                        //-         span.artist Avalik kiri Magasini toimetajalt
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5214")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-4923")
                        //-     p 28.12.2017
                        //-     p
                        //-         span.artist Today I woke up and the day was gone
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5180")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-4869")
                        //-     p 20.12.2017
                        //-     p
                        //-         span.artist Eesti Vabariigi Kultuuripolitseiseadus etenduskunsti valdkonnas
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5179")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-4865")
                        //-     p 12.12.2017
                        //-     p
                        //-         span.artist Veel kord Mariast
                        //-     span.author Ilmar Branno
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5141")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3469")
                        //-     p 26.10.2017
                        //-     p
                        //-         span.artist kontakt
                        //-     span.author Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5098")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3359")
                        //-     p 27.09.2017
                        //-     p
                        //-         span.artist FLATLAND AND SOME OPTICAL ILLUSIONS
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5075")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3316")
                        //-     p 15.09.2017
                        //-     p
                        //-         span.artist KRIITIKA LAVASTUSELE, MIDA POLE OLNUD NO00
                        //-     span.author Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5074")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3312")
                        //-     p 13.09.2017
                        //-     p
                        //-         span.artist KRIITIKA LAVASTUSELE, MIDA POLE OLNUD NO00
                        //-     span.author Maarja Kalmre
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5073")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3308")
                        //-     p 11.09.2017
                        //-     p
                        //-         span.artist “NOH, MITTE MIDAGI EI JUHTUNUD. AGA ARMASTAN SIND” Teater NO99 viimane teos nr 0
                        //-     span.author Epp Kubu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5058")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3246")
                        //-     p 04.09.2017
                        //-     p
                        //-         span.artist MA EI TAHA OLLA PORGANDIKUNINGAS
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5056")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3242")
                        //-     p 31.08.2017
                        //-     p
                        //-         span.artist Notes on SAAL Biennaal Festival or I dare you
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5009")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3101")
                        //-     p 17.08.2017
                        //-     p
                        //-         span.artist 2 Reality
                        //-     span.author Olga Tsvetkova
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/5007")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3092")
                        //-     p 15.08.2017
                        //-     p
                        //-         span.artist Kunstniku ootused produtsendile ning produtsendi ootused kunstnikule
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4999")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3027")
                        //-     p 07.08.2017
                        //-     p
                        //-         span.artist RAHO AADLA “MINA OLEN RA” KUI KLAASIKE PILVES SELGIMISTEGA HAARDEJÕULIST TÄIUST
                        //-     span.author Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4997")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3023")
                        //-     p 01.08.2017
                        //-     p
                        //-         span.artist SEANSS SULATUSAHJUS
                        //-     span.author Epp Kubu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4981")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3014")
                        //-     p 25.07.2017
                        //-     p
                        //-         span.artist KARL SAKSA “SEISUND JA DISAIN” KUI RITUAALNE JA MÄLULINE RÄNNAK
                        //-     span.author Maarja Kalmre
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4794")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-2530")
                        //-     p 03.06.2017
                        //-     p
                        //-         span.artist= 'Kaart > Kevad < Koreograafia'
                        //-     span.author Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4779")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-2501")
                        //-     p 21.05.2017
                        //-     p
                        //-         span.artist AUTISTI PÄEVARAAMAT NR 4
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4736")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-2324")
                        //-     p 24.04.2017
                        //-     p
                        //-         span.artist Ja võitja on ...
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4721")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-2298")
                        //-     p 11.04.2017
                        //-     p
                        //-         span.artist Stand-up tragöödia faktide ja fantasmide vahel
                        //-     span.author Hanno Soans
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4621")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-2140")
                        //-     p 31.01.2017
                        //-     p
                        //-         span.artist #2
                        //-         span.artist  / Sissejuhatusega.
                        //-     span.author Maike Lond Malmborg
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4578")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-2086")
                        //-     p 01.01.2017
                        //-     p
                        //-         span.artist THE TOP 10 LEGLESS HORSES
                        //-     span.author Massiaru
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4564")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1874")
                        //-     p 28.12.2016
                        //-     p
                        //-         span.artist Kahes keeles korraga rääkida ei saa
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4548")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1846")
                        //-     p 10.12.2016
                        //-     p
                        //-         span.artist Kas näitleja peaks rääkima?
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4546")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1842")
                        //-     p 09.12.2016
                        //-     p
                        //-         span.artist seisund & disain artist talk
                        //-     span.author Maike Lond Malmborg
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4540")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1797")
                        //-     p 23.11.2016
                        //-     p
                        //-         span.artist Kas nii Hendrik?
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4513")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1737")
                        //-     p 03.11.2016
                        //-     p
                        //-         span.artist TECHNO TANTSU ABC
                        //-     span.author Üüve-Lydia Toompere
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4499")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1718")
                        //-     p 24.10.2016
                        //-     p
                        //-         span.artist Thinking bout you Channel ORANGE (concept album)
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4400")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1631")
                        //-     p 21.09.2016
                        //-     p
                        //-         span.artist Kanuti Gildi SAAL Vertikaalstart 21. september 2016
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4358")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1523")
                        //-     p 13.08.2016
                        //-     p
                        //-         span.artist 6 küsimust Vaba Lavale ja 7 Siimule ehk dialoog oma enese peas
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4357")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1518")
                        //-     p 12.08.2016
                        //-     p
                        //-         span.artist Seitse aastat kasvulava arendamist
                        //-     span.author Marie Pullerits
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4348")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1509")
                        //-     p 17.07.2016
                        //-     p
                        //-         span.artist Priit Raua kõik unistused on täitunud
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4347")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1502")
                        //-     p 12.07.2016
                        //-     p
                        //-         span.artist Post Festival Depression
                        //-     span.author Maarja Kalmre
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4345")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1493")
                        //-     p 01.07.2016
                        //-     p
                        //-         span.artist MAGASINI INTERVJUU TSOONIS
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4346")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1489")
                        //-     p 01.07.2016
                        //-     p
                        //-         span.artist Lugejakiri Eerole
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4344")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1477")
                        //-     p 23.06.2016
                        //-     p
                        //-         span.artist Olmeulmad
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4343")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1469")
                        //-     p 22.06.2016
                        //-     p
                        //-         span.artist Mida fakki me teeme
                        //-     span.author Marta Vunš, Edgar Vunš
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4339")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1465")
                        //-     p 11.06.2016
                        //-     p
                        //-         span.artist Dramaturg, dramaturgia ja dramaturgiline.
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4338")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1453")
                        //-     p 05.06.2016
                        //-     p
                        //-         span.artist Hirm teema ammendamise ees
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4337")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1449")
                        //-     p 01.06.2016
                        //-     p
                        //-         span.artist Uudis  5 uudist ühes artiklis
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4325")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1445")
                        //-     p 23.05.2016
                        //-     p
                        //-         span.artist Noored kunstnikud ja nende rõõmud
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4324")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1434")
                        //-     p 12.05.2016
                        //-     p
                        //-         span.artist MAIKE meets RIINA meets MUTIONU meets SKAALA SURM
                        //-     span.author Maike Lond Malmborg
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4318")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1410")
                        //-     p 06.05.2016
                        //-     p
                        //-         span.artist Skaala Surm
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4298")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1334")
                        //-     p 05.05.2016
                        //-     p
                        //-         span.artist Lauri Lagle lavastus “Paradiis” Von Krahli Teatris, 26. aprillil, kolmapäeval
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4291")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1325")
                        //-     p 29.04.2016
                        //-     p
                        //-         span.artist Aga kui laseks sulanduda?
                        //-     span.author Nele Suisalu, Maarja Tõnisson
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4272")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1299")
                        //-     p 01.04.2016
                        //-     p
                        //-         span.artist Teatripäeva kohtumisõhtu kriitikutega Eesti Teatri- ja Muusikamuuseumis
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4261")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1283")
                        //-     p 29.03.2016
                        //-     p
                        //-         span.artist ILUKIRJANDUSLIK PORTREE INIMESEST
                        //-     span.author Raho Aadla
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4253")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1279")
                        //-     p 26.03.2016
                        //-     p
                        //-         span.artist Teatriauhinnad 2016
                        //-     span.author Maike Lond Malmborg
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4258")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1270")
                        //-     p 18.03.2016
                        //-     p
                        //-         span.artist Reisikiri / üks päev stuudios @ PACT Zollverein
                        //-     span.author Henri Hütt
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4254")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1243")
                        //-     p 12.03.2016
                        //-     p
                        //-         span.artist Solvumisteni! : )
                        //-     span.author Epp Kubu
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4171")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1202")
                        //-     p 01.03.2016
                        //-     p
                        //-         span.artist etenduskunsti tükk ≠ festivalitükk
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4102")
                        //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                        //-     p 12.02.2016
                        //-     p
                        //-         span.artist Joannale
                        //-     span.author Kaja Kann
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4068")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1145")
                        //-     p 30.01.2016
                        //-     p
                        //-         span.artist Kanuti manifest (kommentaariga)
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4058")
                        //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                        //-     p 29.01.2016
                        //-     p
                        //-         span.artist Taavi ja lennukid, Mihkel ja kunst
                        //-     span.author Mihkel Ilus
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4047")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1575")
                        //-     p 21.01.2016
                        //-     p
                        //-         span.artist A chain of bad   decisions
                        //-         span.artist  / Why not to collaborate?
                        //-     span.author Alissa Šnaider
                        //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="./magazine/4046")
                        //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1151")
                        //-     p 12.01.2016
                        //-     p
                        //-         span.artist Esitamata jäänud kõne ja truudusevanne truudusetusele
                        //-     span.author Kaja Kann
