extends /_templates/layout.pug

block content
    .container-fluid
        .row.page-margin
            section.col-md-12
                .programme.row
                    .col-xs-12.col-md-12
                        h2 Kaasproduktsioonid
                    .grid-row
                        if self.data.co_productions
                            - var filtered_and_sorted_coprods = self.data.co_productions.filter(e => e.coproduction).sort((a, b) => a.coproduction_importance-b.coproduction_importance)
                            each coprod in filtered_and_sorted_coprods
                                a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href= `/${coprod.path}` ordinal= coprod.coproduction_importance)
                                    img.img-responsive(src="https://saal.entu.ee/api2/file-21635")
                                    p.artist= coprod[`name_${self.locale}`]
                                    p= coprod[`name_${self.locale}`]
                                //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6865" ordinal="54")
                                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21630")
                                //-     p.artist Karolin Poska
                                //-     p Sinu nirvaanale
                                //- a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6577" ordinal="55")
                                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-21071")
                                //-     p.artist SIMONA GONELLA, PEADER KIRK
                                //-     p KUHU MINEK