extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .container-fluid
        .row.page-margin
            .programme
                .col-xs-12.col-md-12
                    h2= self.labels.nav.projects
                    #accordion.projects-group.panel-group(role="tablist" multiselectable="true")
                        - var first_project = true
                        each project in self.data.projects
                            .panel
                                div(id=project.id, role='tab')
                                    h3
                                        a(data-toggle='collapse', data-parent='#accordion', href='#collapse-'+project.id, aria-expanded='true', aria-controls='collapse-'+project.id)= project.name
                                if first_project
                                    - first_project = false
                                    div.panel-collapse.collapse.in(id='collapse-'+project.id, role='tabpanel', aria-labelledby='heading-'+project.id)
                                        .main-text.h3
                                            if project.event_media && project.event_media.original_image
                                                img(src=`${m_api}${project.event_media.original_image.url}`)
                                                br
                                                br
                                            +markdown(project.description)
                                else
                                    div.panel-collapse.collapse(id='collapse-'+project.id, role='tabpanel', aria-labelledby='heading-'+project.id)
                                        .main-text.h3
                                            if project.event_media && project.event_media.original_image
                                                img(src=`${m_api}${project.event_media.original_image.url}`)
                                                br
                                                br
                                            +markdown(project.description)
