extends /_templates/layout.pug

block content
    .container-fluid
        .row
            #front-carousel.event-banner.carousel.slide
                .carousel-inner(role="listbox")
                    figure(style='background-image: url("https://saal.entu.ee/api2/file-21116"); height: 778px;')
        .row.page-margin
            section.col-md-12
                h2= self[`name_${self.locale}`]
                h4= self[`subtitle_${self.locale}`]

            //- VIDEO/SOUND
            if self.audio || self.video
                .video-sound
                    if self.audio
                        div!= self.audio
                    if self.video
                        div!= self.video

            p!= self[`description_${self.locale}`]