extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    .container-fluid
        .row
            .event-banner.carousel.slide(id='front-carousel')
                .carousel-inner(role='listbox')
                    if self.image_hero
                        figure(style=`background-image: url('${m_api}${self.image_hero}');`)
                    else
                        figure(style=`background-image: url('/assets/images/placeholder.jpg');`)

        .row.page-margin
            section.col-md-12
                if self.child_events
                    .programme.row
                        each event in self.child_events
                            - var eventDate = new Date(event.start_time)
                            div(id=event.remote_id type-name="event" start-time=`${event.start_time}` premiere-time= event.performance_X_premiere_time ? event.performance_X_premiere_time : '' performance-categories=event.peformance_categories)
                                .col-xs-12.col-sm-2.col-lg-2
                                    p
                                        +dayName(event.start_time)
                                    p
                                        +dateFull(event.start_time)
                                    //- Whole day event if 23:59
                                    if `${eventDate.getHours()}:${eventDate.getMinutes()}` !=='23:59'
                                        p
                                            +hoursMinutes(event.start_time)
                                    if event.canceled
                                        p.today= self.labels.button.canceled

                                    //- Premiere
                                    if event.performance_X_premiere_time
                                        if event.performance_X_premiere_time === event.start_time
                                            p.today= self.labels.button.premiere

                                    //- if `${eventDate.getMonth()}.${eventDate.getDate()}` === `${currentDate.getMonth()}.${currentDate.getDate()}`
                                    p.today(id=`today-${event.remote_id}` style='display: none;')= self.labels.button.today

                                    //- Artist talk
                                    if event.conversation
                                        p.today= self.labels.button.artist_talk

                                .col-xs-12.col-md-6.col-lg-6
                                    a(href=`/${lang_path}performance/${event.performance_remote_id}`)
                                        h3
                                            if event.performance_remote_id
                                                    if event[`performance_X_headline_${self.locale}`]
                                                        span.subtitle= event[`performance_X_headline_${self.locale}`]
                                            else
                                                span= event[`name_${self.locale}`]
                                                    if event[`X_headline_${self.locale}`]
                                                        span.subtitle= event[`X_headline_${self.locale}`]

                                        if event.performance_X_artist
                                            span.artist= event.performance_X_artist

                                        if event.performance_X_producer
                                            span.producer= event.performance_X_producer

                                        if event[`performance_X_town_${self.locale}`]
                                            span.town= event[`performance_X_town_${self.locale}`]

                                        span.name= event[`performance_name_${self.locale}`]

                                        if event[`performance_subtitle_${self.locale}`]
                                            span.subtitle= event[`performance_subtitle_${self.locale}`]
                                    //- else
                                    //-     //- a(href='/' + lang + '/event/' + op.get(p,'id'))= op.get(p, lang + '-name')
                                    //-     a(href='/' + lang_path + '/event/' + event.remote_id)= event[`name_${self.locale}`]
                                    //-         if event[`X_headline_${self.locale}`]
                                    //-             span.subtitle= event[`X_headline_${self.locale}`]

                                    //-         if event.X_artist
                                    //-             span.artist= event.X_artist

                                    //-         if event.X_producer
                                    //-             span.producer= event.X_producer

                                    //-         if event.X_town
                                    //-             span.town= event.X_town

                                    //-         span.name= event[`name_${self.locale}`]

                                    //-         if event[`subtitle_${self.locale}`]
                                    //-             span.subtitle= event[`subtitle_${self.locale}`]

                                .col-xs-6.col-md-2.col-lg-2
                                    if event.location
                                        p.location= event.location

                                    //- if op.get(p, ['saal-location', lang + '-name'])
                                    //-     p.location= op.get(p, ['saal-location', lang + '-name'])

                                    if event.X_ticket_info
                                        if !event.X_ticket_info.price
                                            p= self.labels.ticket.buy_t_free_admission
                                        else
                                            p= event.X_ticket_info.price

                                        if event.X_ticket_info.min_price
                                            //- if event.X_ticket_info.min_price == op.get(p, 'max-price')
                                            //-     p= event.X_ticket_info.min_price + '€'
                                            //- else
                                            //-     p= event.X_ticket_info.min_price + '/' + op.get(p, 'max-price') + '€'

                                        if event.X_ticket_info.onsite_price
                                            p= self.labels.title.onsite_price + ': ' + event.X_ticket_info.onsite_price + '€'

                                if event.X_ticket_info
                                    .col-xs-6.col-md-2.col-lg-2.text-right
                                        if event.canceled
                                            a.btn.btn-primary(class="disabled")= self.labels.ticket.buy_t_canceled
                                        else
                                            if event.canceled === 'true'
                                                a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time class="disabled" style='display: none;')= 'canceled'
                                            else
                                                if  event.X_ticket_info.sales_status && (event.X_ticket_info.sales_status === 'sold_out' || event.X_ticket_info.sales_status) === "free_admission"
                                                    a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time style='display: none;' class="free disabled" href='' target='_blank')= self.labels.ticket[`buy_t_${event.X_ticket_info.sales_status}`]
                                                else
                                                    a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time style='display: none;' class="" href=event.X_ticket_info.ticket_api target='_blank')= self.labels.ticket[`buy_t_${event.X_ticket_info.sales_status}`] || self.labels.ticket.buy_ticket

                                .col-xs-12.col-md-12.col-lg-12
                                    hr

                        script.
                            toggleEventButtons()

                        script.
                            festivalEventsToggler()