extends /_templates/layout.pug
include /_templates/mixins.pug

block content

    .container-fluid
        .row
            .event-banner.carousel.slide(id='front-carousel')
                .carousel-inner(role='listbox')
                    if self.image_hero
                        figure(style=`background-image: url('${m_api}${self.image_hero}');`)
                    else
                        figure(style=`background-image: url('/assets/images/placeholder.jpg');`)

        .row.page-margin
            section.col-md-12
                h2= self[`name_${self.locale}`]
                h4= self[`subtitle_${self.locale}`]

                //- VIDEO/SOUND
                if self.audios || self.videos
                    .video-sound
                        if self.audios
                            //- h2= t('title.sound')
                            each audio in self.audios
                                div!= audio.content
                        if self.videos
                            //- h2= t('title.video')
                            each video in self.videos
                                div!= video.content

                p
                    +markdown(self[`description_${self.locale}`])
