extends /_templates/layout.pug

block content
    .container-fluid
        .row
            section.event-banner.carousel.slide(id='front-carousel' data-ride='carousel')
                .carousel-inner(role="listbox")

                    - var bigPhotos = []
                    if self.X_pictures && self.X_pictures.photoBig && self.X_pictures.photoBig.length
                        - bigPhotos = self.X_pictures.photoBig.split(',')

                    if bigPhotos.length === 0
                        - bigPhotos = ['/assets/images/placeholder.jpg']

                    - var photoActive = 0
                    each photo, ix in bigPhotos
                        .item(class=(photoActive++ === 0 ? 'active' : ''))
                            - photo = photo === '/assets/images/placeholder.jpg' ? photo : `${f_api}${photo}`
                            figure(id = `slide-${ix}`, style=`background-image: url('${photo}');`)
                            header.col-md-8
                                p= self.publish_date_string
                                h1.artist= self[`title_${self.locale}`]
                                    if self[`subtitle_${self.locale}`]
                                        - var subTitle = self[`subtitle_${self.locale}`]
                                        span= ` / ${subTitle}`
                                if self.authors_cs
                                    p.subtitle= self.authors_cs

                if bigPhotos.length > 1
                    a.left.carousel-control(href='#front-carousel' role='button' data-slide='prev')
                        span.icon-prev.arrow-left(aria-hidden='true')
                        span.sr-only Previous
                    a.right.carousel-control(href='#front-carousel' role='button' data-slide='next')
                        span.icon-next.arrow-right(aria-hidden='true')
                        span.sr-only Next
                            ul.event-categories

                //- Gradient Map for images
                each photo, ix in bigPhotos
                    script.
                        var slide#{ix} = document.getElementById('slide-#{ix}');
                        GradientMaps.applyGradientMap(slide#{ix}, '#000000, #FFC600');

        .row.front-page-margin
            .col-md-12
                .row
                    //- SOUND
                    if self.audios
                        .video-sound
                            //- h2= t('title.sound')
                            each audio in self.audios
                                div!= audio

                    .article.main-text.h3.col-sm-12.col-md-8.col-lg-8
                        | !{self.md(self[`content_${self.locale}`])}

                        //- GALLERY
                        if !self.hide_gallery
                            if bigPhotos
                                .gallery
                                    //- If is single image
                                    if bigPhotos.length === 1
                                        .row
                                            .col-xs-12
                                                if bigPhotos
                                                    img(src=`${f_api}${bigPhotos[0]}`, class='img-responsive')

                                    //- If more than one, make gallery
                                    if bigPhotos.length > 1
                                        h2= self.labels.title.gallery
                                        .row
                                            each photo in bigPhotos
                                                .single-image.col-xs-6.col-sm-3.col-md-4
                                                    a.fancybox(rel='gallery', href=`${f_api}${photo}` )
                                                        img(src=`${f_api}${photo}`, class='img-responsive')

                        //- VIDEO
                        if self.videos
                            .video-sound
                                h2= self.labels.title.video
                                each video in self.videos
                                    div!= video.content

                        .comments
                            .fb-comments(data-href='', data-width="100%", data-numposts="10")

                            script.
                                document.getElementsByClassName('fb-comments')[0].setAttribute('data-href', window.location.href)

                    - var postCount = 0
                    .col-sm-12.col-md-4.col-lg-4
                        if self.related && self.related.length
                            h2= self.labels.title.related_articles
                            each relArticle in self.related
                                if postCount++ < 15
                                    a(href=`/${lang_path}${relArticle.path}`)
                                        p= relArticle.publish_date_string
                                        h3
                                            span.artist= relArticle[`title_${self.locale}`]

                                            if relArticle[`subtitle_${self.locale}`]
                                                span.artist= `/ ${relArticle[`subtitle_${self.locale}`]}`
                                        if relArticle.authors_cs
                                            span.author= relArticle.authors_cs
                                    hr

                            .row
                                .col-xs-12.col-md-12
                                    a.load-more.btn.btn-primary(href="/et/magazine/")= self.labels.button.view_all
