nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                .icon-bar
                .icon-bar
                .icon-bar
            a.navbar-brand.logo(href=`/${lang_path}`)
                img(src='/assets/images/saal_logo.svg', alt=self.labels.main.KGS_logo)
                //p.season.visible-lg= t('.season') + ' ' + SAAL.season

        .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav.main-nav
                li(class= self.path === `/${lang_path}about` ? 'active' : undefined )
                    a(href=`/${lang_path}about`)= self.labels.title.saal
                li(class= self.path === `/${lang_path}program` ? 'active' : undefined )
                    a(href=`/${lang_path}program`)= self.labels.nav.schedule
                li(class= self.path === `/${lang_path}co_productions` ? 'active' : undefined )
                    a(href=`/${lang_path}co_productions`)= self.labels.nav.coproductions
                li(class= self.path === `/${lang_path}tours` ? 'active' : undefined )
                    a(href=`/${lang_path}tours`)= self.labels.nav.tours
                li(class= self.path === `/${lang_path}residency` ? 'active' : undefined )
                    a(href=`/${lang_path}residency`)= self.labels.nav.residency
                li(class= self.path === `/${lang_path}projects` ? 'active' : undefined )
                    a(href=`/${lang_path}projects`)= self.labels.nav.projects
                li(class= self.path === `/${lang_path}magazine` ? 'active' : undefined )
                    a(href=`/${lang_path}magazine`)= self.labels.nav.magazine
                li(class= self.path === `/${lang_path}festivals` ? 'active' : undefined )
                    a(href=`/${lang_path}festivals`)= self.labels.nav.festivals
                li(class= self.path === `/${lang_path}contact` ? 'active' : undefined )
                    a(href=`/${lang_path}contact`)= self.labels.nav.contact

            ul.nav.navbar-nav.navbar-right.social
                //- each locale in self.locales
                //-     if self.lang !== self.locale
                //-         li.lang
                //-             //- a(href='/'+self.locale+'/'+self.path)= t('lang.' + self.locale)
                //-             a(href='/'+self.locale+'/'+self.path)= self.locale


                each p, locale in self.otherLocalePaths
                    li.lang
                        //- a(href='/'+self.locale+'/'+self.path)= t('lang.' + self.locale)
                        //- p= locale + ' - ' + p
                        a(href=(p !== '/' ? p + '/' : '/') onClick= "GetUserInfo()")= locale
                //- li.nav.nav-bar-nav.main-nav
                //-     a#user_menu(href=`/${lang_path}login`)
                //-         span= self.labels.nav.user_menu
                //-         span#user_initials
