extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .container-fluid
        .row
            .event-banner.carousel.slide(id='front-carousel')
                .carousel-inner(role="listbox")

                    - var photoBig = self.hero_images ? `${m_api}${self.hero_images[0]}` : `/assets/images/placeholder.jpg`
                    figure(id= `slide-${self.id}` style=`background-image: url("${photoBig}");`)
                    header.col-md-8
                        if self[`X_headline_${self.locale}`]
                            p= self[`X_headline_${self.locale}`]
                        h1
                            if self.X_artist
                                span.artist= self.X_artist
                            if self.X_producer
                                span.producer= self.X_producer
                            if self[`X_town_${self.locale}`]
                                span.town= self[`X_town_${self.locale}`]

                        h1= self[`name_${self.locale}`]

                        if self[`subtitle_${self.locale}`]
                            p= self[`subtitle_${self.locale}`]

                    - var activeCategories = []
                    if self.categories
                        - activeCategories = self.categories.filter( e => e.featured_on_front_page).map( e => e.id )

                    if self.data.categories
                        ul.event-categories
                            each category in self.data.categories
                                if category.featured_on_front_page
                                    li.text-uppercase.h3( class =( activeCategories.includes(category.id)? "" : "unactive" ) )
                                        span
                                            a(href="")= category[`name_${self.locale}`]

                                script.
                                    var slide#{self.id} = document.getElementById('slide-#{self.id}');
                                    var gradientMap = '#000000, #FFC600';
                                    GradientMaps.applyGradientMap(slide#{self.id}, gradientMap);
        .row.front-page-margin
            aside.col-md-12.col-lg-3
                #direct-to-login-btn
                    a.btn.btn-primary.text-uppercase#direct-to-login-btn(href="/login")= self.labels.login.sign_in
                    span=' lemmikute salvestamiseks'
                #performance-id.hidden=self.id
                #save-favorite-btn.hidden
                    a.btn.btn-primary.text-uppercase(onClick =`updateFavoPerformance(${self.id})`)= self.labels.login.save
                    span= ' ' + 'oma lemmikuks'
                #delete-favorite-btn.hidden
                    a.btn.btn-primary.text-uppercase(onClick =`updateFavoPerformance(${self.id})`) eemalda
                    span= ' ' + 'oma lemmikute hulgast'
                if self[`technical_info_${self.locale}`]
                    .meta-info
                        p
                            +format(self[`technical_info_${self.locale}`])

                - var duration = self.duration

                if duration
                    - var dur_m = (duration % 60 > 0) ? duration % 60 + ' ' + self.labels.label.minutes_short : ''
                    - var dur_h = (((duration - duration % 60) / 60) % 24 > 0) ? ((duration - duration % 60) / 60) % 24 + ' ' + self.labels.label.hours_short : ''
                    - var dur_d = ((duration - duration % 1440) / 1440 > 0) ? (duration - duration % 1440) / 1440 + ' ' + self.labels.label.days_short : ''
                    .meta-info= self.labels.label.duration + ': ' + dur_d + ' ' + dur_h + ' ' + dur_m

            article.readMore.main-text.col-md-8.col-lg-6.h3
                p
                    +format(self[`description_${self.locale}`])

            aside.col-md-4.col-lg-3

                if self.minToMaxEvents && self.minToMaxEvents.length

                    .tickets.row
                        each event in self.minToMaxEvents
                            div(event_type='future_events', start_time=event.start_time)
                                .col-sm-4.col-md-4.col-lg-4
                                    +dayName(event.start_time)
                                    +dateFull(event.start_time)
                                    +hoursMinutes(event.start_time)
                                .col-sm-8.col-md-8.col-lg-8
                                    if self[`name_${self.locale}`]
                                        p= self[`name_${self.locale}`]
                                    if event.location || event[`X_location_${self.locale}`]
                                        p= event.location || event[`X_location_${self.locale}`]
                                    span(style='float:right;')
                                        if event.X_ticket_info
                                            if event.canceled === 'true'
                                                a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time class="disabled" style='display: none;')= 'canceled'
                                            else
                                                if  event.X_ticket_info.sales_status && (event.X_ticket_info.sales_status === 'sold_out' || event.X_ticket_info.sales_status) === "free_admission"
                                                    a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time style='display: none;' class="free disabled" href='' target='_blank')= self.labels.ticket[`buy_t_${event.X_ticket_info.sales_status}`]
                                                else
                                                    a.btn.btn-primary(type-name="ticket-button" event-start=event.start_time style='display: none;' class="" href=event.X_ticket_info[`pl_link_${self.locale}`] target='_blank')= self.labels.ticket[`buy_t_${event.X_ticket_info.sales_status}`] || self.labels.ticket.buy_ticket

                                .col-sm-12.col-md-12.col-lg-12
                                    hr

                        script.
                            toggleEventButtons()

                        script.
                            performanceEventToggler('future_events')

                    .past
                        h2 Olnud
                        each event in self.maxToMinEvents
                            .row(event_type='past_events', start_time=event.start_time)
                                .col-sm-6.col-md-5.col-lg-4
                                    +dateFull(event.start_time)
                                .col-sm-6.col-md-7.col-lg-8
                                    if self[`name_${self.locale}`]
                                        p= self[`name_${self.locale}`]
                                    if event.location || event[`X_location_${self.locale}`]
                                        p= event.location || event[`X_location_${self.locale}`]
                                .col-sm-12.col-md-12.col-lg-12
                                    hr

                        script.
                            performanceEventToggler('past_events')

        .row.front-page-margin
            .col-md-6

                if self.videos
                    .gallery
                        h2= self.labels.title.video
                            each video in self.videos
                                div!= video.content
                if self.audios
                    .gallery
                        h2= self.labels.title.audio
                            each audio in self.audios
                                div!= audio.content

                if self.performance_media && self.performance_media.filter(m => m.gallery_image_medium).length
                    .gallery
                        h2= self.labels.title.gallery
                            .row
                            each galPhoto in self.performance_media
                                if galPhoto.gallery_image_medium && !galPhoto.hero_image
                                    .single-image.col-sm-6.col-sm-3.col-md-4

                                        if galPhoto.original_image && galPhoto.original_image.url
                                            - var imgLink = galPhoto.original_image.url
                                        else if galPhoto.gallery_image_large && galPhoto.gallery_image_large.url
                                            - var imgLink = galPhoto.gallery_image_large.url
                                        else if galPhoto.gallery_image_medium && galPhoto.gallery_image_medium.url
                                            - var imgLink = galPhoto.gallery_image_medium.url

                                        a.fancybox(rel="gallery" href=`${m_api}${imgLink}`)
                                            img.img-responsive(src=`${m_api}${galPhoto.gallery_image_medium.url}`)



            .col-md-6
                if self.coverages && self.coverages.length
                    .press
                        h2= self.labels.title.press
                        .row
                            each press in self.coverages
                                .col-md-12
                                    br
                                    if press.media && press.media.length
                                        a(target='_blank' href=`${m_api}${press.media[0].url}`)
                                            if press.media[0].formats
                                                img(src=`${m_api}${press.media[0].formats.small.url}`, width='50', style='float:left; margin-right:1em')
                                                if press.title
                                                    p= press.title
                                            else
                                                img(src=`${m_api}${press.media[0].url}`, width='50', style='float:left; margin-right:1em')
                                                if press.title
                                                    p= press.title
                                        if press.source
                                            a(target='_blank' href=press.url)
                                                p.source= press.source
                                                p
                                                    +dateFull(press.publish_date)
                                        else
                                            p
                                                +dateFull(press.publish_date)
                                    else
                                        if press.source
                                            a(target='_blank' href=press.url)= press.title
                                                p.source= press.source
                                                p
                                                    +dateFull(press.publish_date)
                                        else
                                            p
                                                +dateFull(press.publish_date)


            .col-md-12
                .supporter
                    if self.logos
                        each logo in self.logos
                            li.col-sm-12.col-md-12.col-lg-12
                                img(src=`${m_api}${logo.url}`, class='img-responsive')
    style.
        .hidden{
            display: none;
        }
        .visible{
            display: block;
        }
