extends /_templates/layout.pug
include /_templates/mixins.pug


block content
    .container-fluid
        .row.page-margin
            section.news.col-md-6
                h2= self.labels.title.news
                #accordion.panel-group(role="tablist" multiselectable="true")
                    if self.data.newscasts.length
                        - var currentYear = new Date().getFullYear()
                        - var count = 0
                        each newscast in self.data.newscasts.filter(a => new Date(a.publish_time).getFullYear() === currentYear)
                            .panel
                                div(id=`heading-${newscast.id}` role="tab")
                                    h3
                                        a.collapsed(data-toggle="collapse" data-parent="#accordion" href=`#collapse-${newscast.id}` aria-expanded="true" aria-controls=`collapse-${newscast.id}`)= newscast[`title_${self.locale}`]
                                if count === 0
                                    - count++
                                    div.panel-collapse.collapse.in(id=`collapse-${newscast.id}` role="tabpanel" aria-labelledby=`heading-${newscast.id}`)
                                        div
                                            p
                                            p
                                                +markdown(newscast[`content_${self.locale}`])
                                            p
                                else

                                    div.panel-collapse.collapse(id=`collapse-${newscast.id}` role="tabpanel" aria-labelledby=`heading-${newscast.id}`)
                                        div
                                            p
                                            p
                                                +markdown(newscast[`content_${self.locale}`])
                                            p

                        br
                        .row
                            .col-sm-12.col-md-12.col-lg-12
                                ul.pager
                                    li.next
                                        a(href="/news-archive")= self.labels.title.newscast_archive
