extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .container-fluid
        .row.page-margin
            section.col-md-6
                h2= self.labels.title.saal
                #about-carousel.carousel.slide(data-ride="carousel")
                    .carousel-inner(role="listbox")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-210")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-211")
                        img.img-responsive.item.active(src="https://saal.entu.ee/api2/file-212")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-213")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-214")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-215")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-3513")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-3514")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-3515")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-3516")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-3517")
                        img.img-responsive.item(src="https://saal.entu.ee/api2/file-3518")
                    a.left.carousel-control(href="#about-carousel" role="button" data-slide="prev")
                        span.icon-prev.arrow-left(aria-hidden="true")
                    a.right.carousel-control(href="#about-carousel" role="button" data-slide="next")
                        span.icon-next.arrow-right(aria-hidden="true")
                article.main-text.h3
                    p
                    h3#kanuti-gildi-saali-20-juubelihooaeg= self.data.configurations.about_article[`name_${self.locale}`]
                    p
                        +markdown(self.data.configurations.about_article[`content_${self.locale}`])



                .floorplans
                    h2= self.labels.title.floorplans
                    if self.data.locations.length
                        each location in self.data.locations
                            if location.hall.floorplan
                                ul.list-unstyled.h3
                                    li
                                        a(href=`https://a.saal.ee/${location.hall.floorplan.url}` target="_blank")
                                            u= location[`name_${self.locale}`]
                                        span= ' ' + location.hall[`description_${self.locale}`]
                                    //-     a(href="https://saal.entu.ee/api2/file-265" target="_blank")
                                    //-         u Püha Vaimu SAAL
                                    //-     span  | 6x10x3,5m - 30-50 kohta
                                    //- li
                                    //-     a(href="https://saal.entu.ee/api2/file-182" target="_blank")
                                    //-         u Keldrisaal
                                    //-     span  | 8x6x3,5m - 30 kohta
                .old-www
                    h2= self.labels.title.archive
                    ul.list-unstyled.h3
                        li
                            a(href="http://2016.saal.ee/events/2016/01/" target="_blank") www.saal.ee 2008–2015
                        li
                            a(href="http://2016.saal.ee/archive/et/programm2/arhiiv.html" target="_blank") www.saal.ee 2004–2008
            section.news.col-md-6
                h2= self.labels.title.news
                #accordion.panel-group(role="tablist" multiselectable="true")
                    if self.data.newscasts.length
                        - var count = 0
                        each newscast in self.data.newscasts
                            .panel
                                div(id=`heading-${newscast.remote_id}` role="tab")
                                    h3
                                        a.collapsed(data-toggle="collapse" data-parent="#accordion" href=`#collapse-${newscast.remote_id}` aria-expanded="true" aria-controls=`collapse-${newscast.remote_id}`)= newscast[`title_${self.locale}`]
                                if count === 0
                                    - count++
                                    div.panel-collapse.collapse.in(id=`collapse-${newscast.remote_id}` role="tabpanel" aria-labelledby=`heading-${newscast.remote_id}`)
                                        div
                                            p
                                            p
                                                - var content = newscast[`content_${self.locale}`]
                                                | !{self.md(content)}
                                            p
                                else

                                    div.panel-collapse.collapse(id=`collapse-${newscast.remote_id}` role="tabpanel" aria-labelledby=`heading-${newscast.remote_id}`)
                                        div
                                            p
                                            p
                                                - var content = newscast[`content_${self.locale}`]
                                                | !{self.md(content)}
                                            p
    .row.page-margin
        .supporter.col-md-12
            h2= self.labels.title.sponsors
            ul.list-inline
                each banner in self.data.banners.filter(b => b.banner_type && b.banner_type.id === 19)
                    if banner.image
                        li
                            a(href=banner.url target="_blank")
                                img.img-responsive(src=m_api + banner.image.url alt=banner.name)
