.container-fluid
    footer.row
        .col-xs-12.col-md-4
            p Kanuti Gildi SAAL
            p Pikk 20, 10133
            p= self.labels.footer.tallinn_estonia
            p MTÜ Teine Tants
        .col-xs-12.col-md-4.text-center
            #newsletter-sign-up.col-xs-12.col-sm-12.col-md-4.col-lg-12
                p= self.labels.newsletter.signup
            #mailchimp-sign-up.col-xs-12.col-sm-12.col-md-4.col-lg-12
                form#mc-embedded-subscribe-form.validate.validate(action=self.labels.newsletter.mailchimp_action method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="")
                    .mc-field-group
                        input#mce-EMAIL.required.email(type="text" value="" name="EMAIL" placeholder=self.labels.newsletter.placeholder)
                    #mce-responses.clear
                        #mce-error-response.response(style="display:none")
                        #mce-success-response.response(style="display:none")
                    div(style="position: absolute; left: -5000px;")
                        input(type="text" name=self.labels.newsletter.inputName tabindex="-1" value="")
                    .clear
                        input#mc-embedded-subscribe.button(type="submit" value="OK!" name="subscribe")
        .col-xs-12.col-md-4.social.text-right
            ul
                li
                    a.icon-facebook3(href='https://www.facebook.com/KanutiGildiSAAL', target='blank')
                li
                    a.icon-twitter3(href='https://twitter.com/kanutigildisaal', target='blank')
                li
                    a.icon-instagram(href='https://www.instagram.com/kanutigildisaal_', target='blank')
                li
                    a.icon-vimeo3(href='http://vimeo.com/kanutigildisaal', target='blank')
