extends /_templates/layout.pug

block content
    //- siin sees on kõik mida kuvatakse sisseloginud kasutajale
    #logged-in-box.container-fluid
        h2= self.labels.login.userprofileTitle
        div.form-group
            label.login_label(for='email')= self.labels.login.email
            span.value-view#email(name='email')
        div.form-group
            label.login_label(for='firstName')= self.labels.login.first_name
            span.value-view#firstName(type='text', placeholder="eesnimi" name='firstName' autocomplete="off" oninput="validateFirstName(this.id)")
        div.form-group
            label.login_label(for='lastName')= self.labels.login.family_name
            span.value-view#lastName(type='text', placeholder="perenimi" name='lastName' autocomplete="off" oninput='validateLastName(this.id)')
        div.form-group
            label.login_label(for='phoneNr')= self.labels.login.phone
            span.value-view#phoneNr(type='tel' placeholder="telefoni number" name='phoneNr' oninput='validatePhoneNr(this.id)' autocomplete="off")

        #user_buttons
            a.btn.btn-primary.text-uppercase(href="/profile")= self.labels.login.changeProfile
            a.btn.btn-primary.text-uppercase(onClick = "LogOut()")= self.labels.login.log_out
            a.btn.btn-primary.text-uppercase(onClick = "GetUserInfo()")= self.labels.login.get_me
        h2= self.labels.login.favorites
        p= self.labels.login.noFavorites
        h2= self.labels.login.tickets
        p= self.labels.login.noTickets

    //- siin sees on kõik mida kuvatakse  kui kasutaja pole sisse loginud
    #not-logged-in-box
        #login-grid
            div#provider-login
                h2 Sisene
                a.btn.btn-primary.text-uppercase(onClick = "loginWithProvider('google')") google
                a.btn.btn-primary.text-uppercase(onClick = "loginWithProvider('facebook')") facebook
                .form-group()
                    label(for='logEmail') email
                    input#logEmail.form-control(type='email' placeholder="email" name='logEmail')
                .form-group
                    label(for='logPsw') salasõna
                    input#logPsw.form-control(type='password' placeholder="salasõna" name='logPsw')
                a.btn.btn-primary.text-uppercase(onClick = "LoginWithEmail()") sisene parooliga

            div#register
                h2 registreeri
                a.btn.btn-primary.text-uppercase(onClick = "loginWithProvider('google')") google
                a.btn.btn-primary.text-uppercase(onClick = "loginWithProvider('facebook')") facebook
                .form-group
                    label(for='regEmail') email
                    input.reg_input#regEmail.form-control(type='email' placeholder="email" name='regEmail' autocomplete="off")
                .form-group
                    label(for='regPsw') salasõna
                    input.reg_input#regPsw.form-control(type='password', placeholder="salasõna" name='regPsw' autocomplete="new-password")
                .form-group
                    label(for='regPswRepeat') salasõna
                    input.reg_input#regPswRepeat.form-control(type='password', placeholder="salasõna teist korda" name='regPswRepeat' autocomplete="new-password")
                a.btn.btn-primary.text-uppercase(onClick = "RegisterWithEmail()") registreeri

        #error-box
            p#userExists= self.labels.login.errUserAllreadyExists
            p#invalidPsw vale salasõna või email
            p#loginError sisselogimis error

    style.
        .invalid {
            background-color: #f5e4e9;
            display: block;
            color: black
            }
        .valid {
            background-color: #e6f7e6;
            display: none;
            }
        #user_buttons {
            padding: 2rem 0 2rem 0;
            }
        #user_buttons a {
            margin: 0 2rem 0 0;
            }
        .value-view{
            padding: 0 0 0 20px;
        }
        #login-grid{
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
                grid-template-rows: auto;
                justify-content: center;
                justify-items: center;
                align-items: start;
                align-content: start;
        }
        #provider-login,
        #register{
                display: grid;
                grid-template-rows: auto;
                grid-gap: 1rem;
                justify-content: center;
                justify-items: center;
                align-items: center;
        }
        #logged-in-box,
        #not-logged-in-box{
            padding: 10rem 0 10rem 10rem;
        }
        #logged-in-box,
        #loginError,
        #userExists,
        #invalidPsw
            {
            display: none;
        }