extends /_templates/layout.pug

block content
    //- siin sees on kõik mida kuvatakse sisseloginud kasutajale
    #logged-in-box.container-fluid
        h2= self.labels.login.userprofileTitle
        div.form-group
            label.login_label(for='email')= self.labels.login.email
            span.value-view#email(name='email')
        div.form-group
            label.login_label(for='firstName')= self.labels.login.first_name
            span.value-view#firstName(type='text', placeholder="eesnimi" name='firstName' autocomplete="off" oninput="validateFirstName(this.id)")
        div.form-group
            label.login_label(for='lastName')= self.labels.login.family_name
            span.value-view#lastName(type='text', placeholder="perenimi" name='lastName' autocomplete="off" oninput='validateLastName(this.id)')
        div.form-group
            label.login_label(for='phoneNr')= self.labels.login.phone
            span.value-view#phoneNr(type='tel' placeholder="telefoni number" name='phoneNr' oninput='validatePhoneNr(this.id)' autocomplete="off")

        #login_buttons
            a.btn.btn-primary.text-uppercase(href="/profile")= self.labels.login.changeProfile
            a.btn.btn-primary.text-uppercase(onClick = "LogOut()")= self.labels.login.log_out
            a.btn.btn-primary.text-uppercase(onClick = "GetUserInfo()")= self.labels.login.get_me
        h2= self.labels.login.favorites
        p= self.labels.login.noFavorites
        h2= self.labels.login.tickets
        p= self.labels.login.noTickets

    //- siin sees on kõik mida kuvatakse  kui kasutaja pole sisse loginud
    #not-logged-in-box
        .container-fluid#login_buttons
            a.btn.btn-primary.text-uppercase(onClick = "loginWithProvider('google')") google
            a.btn.btn-primary.text-uppercase(onClick = "loginWithProvider('facebook')") facebook
        p#userExists= self.labels.login.errUserAllreadyExists
        p#loginError sisselogimis error

    style.
        .invalid {
            background-color: #f5e4e9;
            display: block;
            color: black
            }
        .valid {
            background-color: #e6f7e6;
            display: none;
            }
        #login_buttons {
            padding: 2rem 0 2rem 0;
            }
        #login_buttons a {
            margin: 0 2rem 0 0;
            }
        .value-view{
            padding: 0 0 0 20px;
        }
        #logged-in-box,
        #not-logged-in-box{
            padding: 10rem 0 10rem 10rem;
        }
        #logged-in-box,
        #loginError,
        #userExists
            {
            display: none;
        }