extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .container-fluid
        section.programme.row.page-margin
            .col-md-12
                h2= self.labels.title.festivals
            .grid-row
                - var events = self.data.events.filter(e => e.type === 'festival').sort((a, b) => new Date(b.start_time)-new Date(a.start_time))
                if events && events.length
                    each event in events
                        a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href=event.path)
                            if event.image_medium
                                img.img-responsive(src=`${m_api}${event.image_medium}`)
                            else
                                img.img-responsive(src=`/assets/images/placeholder.jpg`)
                            p
                                +dateFromTo(event.start_time, event.end_time)
                            p
                                span.name= event[`name_${self.locale}`]
